# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# GEE keys
*.json
service-account-key.json

# Database
*.db
*.sqlite3

uploads/